body 
{ 
    min-height: 100%;
    padding-top: 60px;x 
}
#main-div
{
    overflow:auto;
    padding-bottom:150px; /* this needs to be bigger than footer height*/
}
.footer
{
    position: relative;
    height: 110px;
    clear:both;
    color:#fff;
    margin-bottom: 1px;
    background-color: #222; 
}
