body
{
    background-image:url(../img/header_bg.png);
    min-height: 100%;
    padding-top: 60px;
    margin-right: 10%;
    margin-left: 10%;
}

#main-div
{
    overflow:auto;
}
#header{
    position:relative;
    margin-bottom: 15px;
}
.navbar{
    margin-bottom: 10px;
    position:absolute; bottom:0;
    position:absolute; right:0;
}
#footer
{
}
