body
{
    background-image:url(../img/header_bg.png);
    min-height: 100%;
    padding-top: 60px;
    margin-right: 10%;
    margin-left: 10%;
}
.grid{
   border-left-style:double;
    border-left-width:5px;
    padding-left: 10px;
}
.layout{
    border-radius: 10px;
    background-color : whitesmoke;
    padding: 15px; 

}
#header{
    position:relative;
    margin-bottom: 15px;
}
.navbar{
    margin-bottom: 10px;
    position:absolute; bottom:0;
    position:absolute; right:0;
}
#footer
{
    margin-top: 15px;
    border-radius: 10px;
    background-color : whitesmoke;
    padding-top: 15px; 
    padding-left: 15%;
}
label.valid {
    width: 24px;
    height: 24px;
    display: inline-block;
    text-indent: -9999px;
}
label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}
