{% load static %}
{% load url from future %}
{% load uservoice %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>{% block head_title %}CommonPlay{% endblock %}</title>
        <link rel="stylesheet" href="{% get_static_prefix %}lib/bootstrap-2.2.2/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="{% get_static_prefix %}lib/bootstrap-datepicker-2.0/css/datepicker.css"/>
        <link rel="stylesheet" href="{% get_static_prefix %}lib/bootstrap-timepicker-2.0/compiled/timepicker.css"/>
        <link rel="stylesheet" href="{% get_static_prefix %}videotag-backoffice/css/backoffice.css"/>
    </head>
    <body>
    <div class = "container-fluid">
        <div class="row-fluid">
            <div class="row-fluid" id="header">
                <a href="/" >
                     <img class="logo"  src="{% get_static_prefix %}videotag-backoffice/img/logo.png" alt="Logo CommonPlay" />
                </a>
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class='container-fluid'>
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <div class="nav-collapse">
                                <ul class="nav">
                                    <li><a href="/">Dashboard</a></li>
                                    <li class="dropdown">
                                        <a href="/" class="dropdown-toggle gravatar" data-toggle="dropdown"> Mon compte <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/#account">Editer mon profil</a></li>
                                            <li><a href="{% url 'account_password' %}">Changer mon mot de passe</a></li>
                                            <li><a href="{% url 'account_settings' %}">Changer mon Email</a></li>
                                            <li><a href="{% url 'account_logout' %}">Se déconnecter</a></li>
                                            <li class="divider"></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div><!--/.nav-collapse -->
                        </div>
                    </div>
                </div>
            </div>
            <div clas="rowfluid" id="mainDiv"></div>
            {% block body %}
                <div class="row-fluid"><div class='externalTemplate'>{% block template %}{% endblock %}</div></div>
            {% endblock %}
        <div class="row-fuild">
            <div class = 'span12' id="footer">
                <div class="span4">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>
                <div class="span4">
                    <h4>Resource</h4>
                    <ul>
                        <li><a href="">Get help</a></li>
                        <li><a href="">FAQ</a></li>
                        <li><a href="">Support</a></li>
                    </ul>
                </div>
                <div class="span4">
                    <h4>Connect</h4>
                    <ul>
                        <li><a href="" title="Facebook">Facebook</a></li>
                        <li><a href="" title="Twitter">Twitter</a></li>
                        <li><a href="" title="Blogs">Blogs</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        {% if request.user.is_authenticated %}
        <script>
            (function () {
                'use strict';
                /**
                 * retrieve config
                 */
                var config = {
                    'baseUrl': '{% get_static_prefix %}',
                    'feedsApiUrl': '{{ feedsApiUrl }}',
                    'poserApiUrl': '{{ poserApiUrl }}',
                    'melomaniacApiUrl': '{{ melomaniacApiUrl }}',
                    'sockjsUrl': '{{ sockjsUrl }}',
                    'loginUrl': '{% url 'account_login' %}',
                    'logoutUrl': '{% url 'account_logout' %}',
                    'signupUrl': '{% url 'account_signup' %}',
                    'passwordResetUrl': '{% url 'account_password_reset' %}',
                    'passwordChangeUrl': '{% url 'account_password' %}',
                    'accountSettingsUrl': '{% url 'account_settings' %}',
                    'accountDeleteUrl': '{% url 'account_delete' %}',
                    'hostUrl': 'http://{{ request.get_host }}',
                    'inviteUrl': '{% url 'invite' %}',
                };
                /**
                 * requirejs
                 */
                var script = document.createElement('script');
                script.addEventListener('load', function () {
                    require.appConfig = config;
                    require.appUser = {
                        isAuthenticated: '{{ request.user.is_authenticated }}',
                        id: '{{ request.user.id }}',
                        username: '{{ request.user.username }}',
                        email: '{{ request.user.email }}',
                        is_anonymous: '{{ request.user.is_anonymous }}',
                        csrf: '{{ csrf_token }}',
                    };
                });
                script.setAttribute('src', config.baseUrl + 'lib/require-2.1.2.min.js');
                script.setAttribute('data-main', config.baseUrl + 'videotag-backoffice/main.js');
                document.head.appendChild(script);
            }).call(window);
        </script>
        {% endif %}
        {% uservoice %}
    </body>
</html>
